<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Logo</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content"  flex="100">

                <div id="login" layout="column">
                    <md-button flex="100" class="md-raised md-warn" id="gLogin" onclick="glLogin();">Google login
                    </md-button>
                    <md-button flex="100" class="md-raised md-primary" id="fLogin" onclick="fbLogin();">Facebook login
                    </md-button>
                </div>

                <div id="loggedIn" layout="column">
                    <div id="loggedInTxt"></div>
                    <md-button flex="100" class="md-raised" id="logout" onclick="logout()">Sign out</md-button>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>