.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-top-10{
    margin-top: 10px;
}
.centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.table-fixed{
    border: solid #E4D6D6 1px;
    height:  55%;
}
.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height:  87.5%;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}
.table-small-font tbody{
    font-size: 13px;
}
.full-width {
    width: 100%;
}
.glyphicon {
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}