<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="google-site-verification" content="ARYnMlrwjX70iuAiBa0TwScaD_bMuPPRxg6oh-9pRew" />

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/styles/app.css">
    <link rel="stylesheet" type="text/css" href="../resources/styles/slider.css">

    <!-- Angular-Chart -->
    <link rel="stylesheet" href="http://jtblin.github.io/angular-chart.js/dist/angular-chart.css" />


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!--Angular route-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <!-- Angular cookies -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- Chart.JS -->
    <script src="http://jtblin.github.io/angular-chart.js/bower_components/Chart.js/Chart.js"></script>

    <!-- Angular-Chart -->
    <script src="http://jtblin.github.io/angular-chart.js/dist/angular-chart.js"></script>

    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <!-- Social  -->
    <!-- Facebook API-->
    <script src="https://connect.facebook.net/en_US/sdk.js" async defer></script>
    <!-- Google API -->
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
    <script src="https://apis.google.com/js/client.js?onload=function(){}" async defer></script>
    <!--
    <script type="text/javascript" src="../resources/scripts/socialLogin.js"></script>
    -->

    <script type="text/javascript" src="../resources/scripts/app.js"></script>
    <script type="text/javascript" src="../resources/scripts/login.js"></script>
    <script type="text/javascript" src="../resources/scripts/settings.js"></script>
    <script type="text/javascript" src="../resources/scripts/planner.js"></script>
    <script type="text/javascript" src="../resources/scripts/userProducts.js"></script>
    <script type="text/javascript" src="../resources/scripts/registrar.js"></script>

    <script type="text/javascript" src="../resources/scripts/slider.js"></script>

    <style>
        md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
            min-height: 30px !important;
        }

        md-list-item {
            margin-bottom: 10px !important;
            margin-top: 5px !important;
        }

        md-card-title {
            padding-bottom: 24px !important;
        }

    </style>

</head>
<body data-ng-app="kulya-pulya" ng-cloak>

<div data-ng-controller="mainController">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools" ng-show="$root.user.name != null">

                <span flex></span>

                <div hide-gt-xs>
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" ng-click="openMenu($mdOpenMenu, $event)"
                                   class="md-icon-button">
                            <md-icon md-svg-src="../resources/img/material_img/ic_reorder_white_36px.svg"></md-icon>
                        </md-button>

                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button aria-label="Planner" ng-click="location.path('/planner')"
                                           class="toolbar-button">
                                    Planner
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Registrar" ng-click="location.path('/registrar')"
                                           class="toolbar-button">
                                    Registrar
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="User Products" ng-click="location.path('/user-products')"
                                           class="toolbar-button">
                                    My Products
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Settings" ng-click="location.path('/settings')"
                                           class="toolbar-button">
                                    Settings<!--{{$root.user.name}}-->
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Logout" ng-click="location.path('/logout')"
                                           class="toolbar-button">
                                    Sign out
                                    </md-tooltip>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

                <div hide-xs>
                    <md-button aria-label="Planner" ng-click="location.path('/planner')" class="toolbar-button">
                        Planner
                    </md-button>
                    <md-button aria-label="Registrar" ng-click="location.path('/registrar')" class="toolbar-button">
                        Registrar
                    </md-button>

                    <md-button aria-label="User Products" ng-click="location.path('/user-products')"
                               class="toolbar-button">
                        My Products
                    </md-button>

                    <md-button aria-label="Settings" ng-click="location.path('/settings')" class="toolbar-button">
                        Settings<!--{{$root.user.name}}-->
                    </md-button>

                    <md-button aria-label="Logout" ng-click="location.path('/logout')" class="toolbar-button">
                        Sign out
                        </md-tooltip>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </md-content>
    <div ng-view></div>
</div>

</body>
</html>