<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/styles/app.css">
    <link rel="stylesheet" type="text/css" href="../resources/styles/slider.css">


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!--Angular route-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <!-- Angular cookies -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <!-- Social  -->
    <!-- Facebook API-->
    <script src="https://connect.facebook.net/en_US/sdk.js" async defer></script>
    <!-- Google API -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--
    <script type="text/javascript" src="../resources/scripts/socialLogin.js"></script>
    -->

    <script type="text/javascript" src="../resources/scripts/app.js"></script>
    <script type="text/javascript" src="../resources/scripts/login.js"></script>
    <script type="text/javascript" src="../resources/scripts/settings.js"></script>
    <script type="text/javascript" src="../resources/scripts/planner.js"></script>
    <script type="text/javascript" src="../resources/scripts/userProducts.js"></script>
    <script type="text/javascript" src="../resources/scripts/registrar.js"></script>

    <script type="text/javascript" src="../resources/scripts/slider.js"></script>

    <style>
        md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
            min-height: 30px !important;
        }

        md-list-item {
            margin-bottom: 10px !important;
            margin-top: 5px !important;
        }

        md-card-title {
            padding-bottom: 24px !important;
        }

    </style>

</head>
<body data-ng-app="kulya-pulya" ng-cloak>

    <div data-ng-controller="mainController">
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools" ng-show="$root.user.name != null">
                    <h2>
                        <span>Logo</span>
                    </h2>
                    <span flex></span>

                    <md-button aria-label="Settings" ng-click="location.path('/planner')">
                        Planner
                    </md-button>
                    <md-button aria-label="Settings" ng-click="location.path('/registrar')">
                        Registrar
                    </md-button>

                    <md-button aria-label="Custom Products" ng-click="location.path('/user-products')">
                        My Products
                    </md-button>

                    <md-button aria-label="Settings" ng-click="location.path('/settings')">
                        Settings <!--{{$root.user.name}}-->
                        <!--<md-tooltip md-direction="bottom" md-autohide="false">
                            Settings
                        </md-tooltip>-->
                    </md-button>

                    <md-button class="md-fab md-warn" aria-label="Logout" ng-click="location.path('/logout')">
                        <md-icon md-svg-src="../../resources/img/material_img/exit_white.svg"></md-icon>
                        <md-tooltip md-direction="bottom" md-autohide="false">
                            Sign out
                        </md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
        </md-content>

        <div ng-view></div>
    </div>

</body>
</html>