<html lang="en"  data-ng-app="test" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>
    <body data-ng-controller="testCtrl as ctrl" ng-cloak>
    <!--
       Your HTML content here
       -->
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="../resources/scripts/test.js"></script>
    <script type="text/javascript" src="../resources/scripts/slider.js"></script>
    <script type="text/javascript" src="../resources/scripts/fb.login.js"></script>
    <script type="text/javascript" src="../resources/scripts/google.login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <div  style='padding: 40px;' ng-cloak>
            <div layout="row" layout-wrap>
                <div flex="10"></div>
                <div flex="80">
                <div layout="row" layout-wrap>
                    <div flex="50" >
                        <md-content class="md-padding">
                            <form ng-submit="$event.preventDefault()">
                                <md-autocomplete
                                        ng-disabled="ctrl.isDisabled"
                                        md-no-cache="ctrl.noCache"
                                        md-selected-item="ctrl.selectedItem"
                                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                        md-search-text="ctrl.searchText"
                                        md-selected-item-change="ctrl.selectedItemChange(item)"
                                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                                        md-item-text="item.display"
                                        md-min-length="0"
                                        placeholder="What is your favorite US state?">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No states matching "{{ctrl.searchText}}" were found.
                                        <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </md-content>
                    </div>
                    <div flex="50">
                        <md-content>
                            <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                                           md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                        </md-content>
                        <md-toolbar ng-if="true">
                            <div class="md-toolbar-tools">
                                <h3>
                                    <span>Breakfast</span>
                                </h3>
                            </div>
                        </md-toolbar>
                        <md-content flex>
                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="item in todos">
                                    <div class="md-list-item-text">
                                        <h3>{{item.what}}</h3>
                                        <h4>{{item.who}}</h4>
                                        <p>
                                            {{item.notes}}
                                        </p>
                                    </div>
                                    <md-divider inset></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                        <br>
                        <md-toolbar ng-if="true">
                            <div class="md-toolbar-tools">
                                <h3>
                                    <span>Lunch</span>
                                </h3>
                            </div>
                        </md-toolbar>
                        <md-content flex>
                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="item in todos">
                                    <div class="md-list-item-text">
                                        <h3>{{item.what}}</h3>
                                        <h4>{{item.who}}</h4>
                                        <p>
                                            {{item.notes}}
                                        </p>
                                    </div>
                                    <md-divider inset></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                        <br>
                        <md-toolbar ng-if="true">
                            <div class="md-toolbar-tools">
                                <h3>
                                    <span>Dinner</span>
                                </h3>
                            </div>
                        </md-toolbar>
                        <md-content flex>
                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="item in todos">
                                    <div class="md-list-item-text">
                                        <h3>{{item.what}}</h3>
                                        <h4>{{item.who}}</h4>
                                        <p>
                                            {{item.notes}}
                                        </p>
                                    </div>
                                    <md-divider inset></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                        <br>
                        <md-toolbar ng-if="true">
                            <div class="md-toolbar-tools">
                                <h3>
                                    <span>Snacks</span>
                                </h3>
                            </div>
                        </md-toolbar>
                        <md-content flex>
                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="item in todos">
                                    <div class="md-list-item-text">
                                        <h3>{{item.what}}</h3>
                                        <h4>{{item.who}}</h4>
                                        <p>
                                            {{item.notes}}
                                        </p>
                                    </div>
                                    <md-divider inset></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </div>
            </div>
                <div flex="10"></div>
            </div>
        </div>
    </body>
</html>