<div layout="row" data-ng-controller="userProductsController">
    <div flex-xs="90" flex="50" flex-offset="25" flex-offset-xs="5">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Products">
                <md-content class="md-padding">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>

                            <div layout="row" layout-xs="column" ng-cloak>
                                <div flex-gt-sm="35">
                                    <div layout="column">
                                        Name
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        Protein
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        Carbohydrate
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        Fat
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        kCalories
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                    </div>
                                </div>
                            </div>

                            <form name="addProductForm">
                                <div layout="row" layout-xs="column" ng-cloak>
                                    <div flex-gt-sm="35">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newProduct.name" name="productName" required aria-label="productName" ng-change="checkIfNameExists(newProduct.name, addProductForm.productName, false)">
                                                <div ng-messages="addProductForm.productName.$error">
                                                    <div ng-message="exists">You already have product with name '{{newProduct.name}}'</div>
                                                    <div ng-message="required">This is required field</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newProduct.protein" name="productProtein" required
                                                       type="number" min="1" aria-label="productProtein">
                                                <div ng-messages="addProductForm.productProtein.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newProduct.carbo" name="productCarbohydrate" required
                                                       type="number" min="1" aria-label="productCarbohydrate">
                                                <div ng-messages="addProductForm.productCarbohydrate.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newProduct.fat" name="productFat" required
                                                       type="number" min="1" aria-label="productFat">
                                                <div ng-messages="addProductForm.productFat.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newProduct.kCal" name="productCalories" required
                                                       type="number" min="1" aria-label="productCalories">
                                                <div ng-messages="addProductForm.productCalories.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-button class="md-primary" ng-disabled="addProductForm.$invalid" ng-click="addProduct()">Add</md-button>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div ng-cloak ng-repeat="product in user.products | filter: {type:'PRODUCT'}">
                                <form name="editProductForm">
                                    <div layout="row" layout-xs="column">
                                        <div flex-gt-sm="35">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.name" name="productName" required aria-label="productName" ng-change="checkIfNameExists(product.name, editProductForm.productName, true)">
                                                    <div ng-messages="editProductForm.productName.$error">
                                                        <div ng-message="exists">You already have product with name '{{product.name}}'</div>
                                                        <div ng-message="required">This is required field</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.protein" name="productProtein" required
                                                           type="number" min="1" aria-label="productProtein">
                                                    <div ng-messages="editProductForm.productProtein.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.carbo" name="productCarbohydrate" required
                                                           type="number" min="1" aria-label="productCarbohydrate">
                                                    <div ng-messages="editProductForm.productCarbohydrate.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.fat" name="productFat" required
                                                           type="number" min="1" aria-label="productFat">
                                                    <div ng-messages="editProductForm.productFat.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.kCal" name="productCalories" required
                                                           type="number" min="1" aria-label="productCalories">
                                                    <div ng-messages="editProductForm.productCalories.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-button class="md-raised md-primary center" ng-click="save()" ng-disabled="editProductForm.$invalid">Save</md-button>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-button class="md-warn" ng-click="deleteProduct(product)">Delete</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>

            <!--==========================-->                <!--==========================-->
            <!--==========================-->                <!--==========================-->
            <!--==========================--><!-- NEW TAB --><!--==========================-->
            <!--==========================-->                <!--==========================-->
            <!--==========================-->                <!--==========================-->

            <md-tab label="Supplements">
                <md-content class="md-padding">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>

                            <div layout="row" layout-xs="column" ng-cloak>
                                <div flex-gt-sm="35">
                                    <div layout="column">
                                        Name
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        Protein
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        Carbohydrate
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        Fat
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        kCalories
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                        Serving size, g
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                    </div>
                                </div>
                                <div flex-gt-sm="15">
                                    <div layout="column">
                                    </div>
                                </div>
                            </div>

                            <form name="addSupplementForm">
                                <div layout="row" layout-xs="column" ng-cloak>
                                    <div flex-gt-sm="35">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newSupplement.name" name="productName" required aria-label="productName" ng-change="checkIfNameExists(newSupplement.name, addSupplementForm.productName, false)">
                                                <div ng-messages="addSupplementForm.productName.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="exists">You already have product with name {{newSupplement.name}}</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newSupplement.protein" name="productProtein" required
                                                       type="number" min="1" aria-label="productProtein">
                                                <div ng-messages="addSupplementForm.productProtein.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newSupplement.carbo" name="productCarbohydrate" required
                                                       type="number" min="1" aria-label="productCarbohydrate">
                                                <div ng-messages="addSupplementForm.productCarbohydrate.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newSupplement.fat" name="productFat" required
                                                       type="number" min="1" aria-label="productFat">
                                                <div ng-messages="addSupplementForm.productFat.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newSupplement.kCal" name="productCalories" required
                                                       type="number" min="1" aria-label="productCalories">
                                                <div ng-messages="addSupplementForm.productCalories.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-input-container class="md-block" flex>
                                                <input ng-model="newSupplement.serving" name="productSering" required
                                                       type="number" min="1" aria-label="productSering">
                                                <div ng-messages="addSupplementForm.productSering.$error">
                                                    <div ng-message="required">This is required field</div>
                                                    <div ng-message="min">Minimum value is 1</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                            <md-button class="md-primary" ng-disabled="addSupplementForm.$invalid" ng-click="addSupplement()">Add</md-button>
                                        </div>
                                    </div>
                                    <div flex-gt-sm="15">
                                        <div layout="column">
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div ng-cloak ng-repeat="product in user.products | filter: {type:'SUPPLEMENT'}">
                                <form name="editSupplementForm">
                                    <div layout="row" layout-xs="column">
                                        <div flex-gt-sm="35">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.name" name="productName" required aria-label="productName" ng-change="checkIfNameExists(product.name, editSupplementForm.productName, true)">
                                                    <div ng-messages="editSupplementForm.productName.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="exists">You already have product with name {{product.name}}</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.protein" name="productProtein" required
                                                           type="number" min="1" aria-label="productProtein">
                                                    <div ng-messages="editSupplementForm.productProtein.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.carbo" name="productCarbohydrate" required
                                                           type="number" min="1" aria-label="productCarbohydrate">
                                                    <div ng-messages="editSupplementForm.productCarbohydrate.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.fat" name="productFat" required
                                                           type="number" min="1" aria-label="productFat">
                                                    <div ng-messages="editSupplementForm.productFat.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.kCal" name="productCalories" required
                                                           type="number" min="1" aria-label="productCalories">
                                                    <div ng-messages="editSupplementForm.productCalories.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-input-container class="md-block" flex>
                                                    <input ng-model="product.serving" name="productSering" required
                                                           type="number" min="1" aria-label="productSering">
                                                    <div ng-messages="editSupplementForm.productSering.$error">
                                                        <div ng-message="required">This is required field</div>
                                                        <div ng-message="min">Minimum value is 1</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-button class="md-raised md-primary center" ng-click="save()" ng-disabled="editSupplementForm.$invalid">Save</md-button>
                                            </div>
                                        </div>
                                        <div flex-gt-sm="15">
                                            <div layout="column">
                                                <md-button class="md-warn" ng-click="deleteProduct(product)">Delete</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>